.btn-secondary-bg {
  background: #dfece8 !important;
  color: #082d5d !important;
}

.bg-img-container {
  background-image: url("/public/assets/bg-img.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.text-primary {
  color: #082d5d !important;
}

.text-secondary {
  color: #505050 !important;
}

.text-accent {
  color: #5285e8 !important;
}

.pl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.success-img-box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-header {
  background: #dfece8 !important;
  color: #082d5d !important;
  padding: 15px;
  border-radius: 5px;
}
